<div class="grid">
  <div style="background-color: #023e8a" class="background">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>FitYou</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
        <button
          icon="pi pi-book"
          pButton
          class="p-button-raised p-button-secondary"
          label="Leer más..."
          (click)="goToAboutUs()"
        ></button>

        <span style="margin: 15px"></span>

        <button
          pButton
          icon="pi pi-clone"
          class="p-button-raised p-button-secondary"
          label="Comparar"
          (click)="gotocompare()"
        ></button>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="sm:col-12 lg:col-5" style="text-align: center">
    <img class="mt-8" src="assets/icons/read.png" style="width: 250px" />
    <br />
    <div style="margin-left: 150px; margin-right: 150px">
      <h3>Conoce</h3>
      <span class="par">
        Aspiramos a brindarle al usuario cliente la informacion necesaria para
        elegir el producto financiero idóneo, conforme a su perfil e intereses.
      </span>
    </div>
  </div>

  <div class="sm:col-12 lg:col-2" style="text-align: center">
    <img
      class="mt-8"
      src="assets/icons/compare.png"
      style="width: 250px"
      alt=""
    />
    <div>
      <h3>Compara</h3>
      <span class="par">
        Buscamos dinamizar el mercado financiero exponiendo los productos
        disponibles y motivando a las instituciones financieras a mejorar su
        oferta.
      </span>
    </div>
  </div>

  <div class="sm:col-12 lg:col-5" style="text-align: center">
    <img
      class="mt-8"
      src="assets/icons/choose.png"
      style="width: 250px"
      alt=""
    />
    <div style="margin-left: 150px; margin-right: 150px">
      <h3>Elige</h3>
      <span class="par">
        Motivamos a que el usuario financiero dominicano esté cada vez más
        informado y sea más proactivo y exigente al decidir sobre sus productos
        financieros.
      </span>
    </div>
  </div>
</div>

<div class="grid mt-6 sm:h-50rem lg:h-25rem" style="background-color: #0077b6">
  <div class="sm:col-12 sm:text-center lg:col-6 lg:text-right">
    <img src="assets/icons/compare2.svg" width="250px" class="mt-8" />
  </div>
  <div
    style="color: white"
    class="sm:col-12 sm:text-center lg:col-6 lg:text-left"
  >
    <div class="ml-5 mt-8">
      <h1>Compara</h1>
      <p style="font-size: larger; color: white" class="lg:mr-8">
        Utiliza la herramienta para comparar planes que te permitirá poner en la
        balanza y escoger el que más te quede!
      </p>

      <button
        pButton
        pRipple
        class="p-button-raised p-button-secondary"
        label="Quiero ver!"
        (click)="gotocompare()"
      ></button>
    </div>
  </div>
</div>

<div class="grid">
  <div class="sm:col-12 sm:text-center lg:col-6 lg:text-right">
    <div class="mr-5 mt-8">
      <h1>Conoce</h1>
      <p style="font-size: larger" class="lg:ml-8">
        Conoce todas las ofertas que tenemos para tí!
      </p>

      <button
        pButton
        pRipple
        class="p-button-raised p-button-primary"
        label="Quiero ver!"
        (click)="gotocompare()"
      ></button>
    </div>
  </div>

  <div class="sm:col-12 sm:text-center lg:col-6 lg:text-left">
    <img src="assets/icons/read.png" width="250px" class="mt-8" />
  </div>
</div>

<div class="grid mt-6 sm:h-50rem lg:h-25rem" style="background-color: #023e8a">
  <div class="sm:col-12 sm:text-center lg:col-6 lg:text-right">
    <img src="assets/icons/choose2.svg" width="250px" class="mt-8" />
  </div>
  <div
    style="color: white"
    class="sm:col-12 sm:text-center lg:col-6 lg:text-left"
  >
    <div class="ml-5 mt-8">
      <h1>Elije</h1>
      <p style="font-size: larger; color: white" class="lg:mr-8">
        Utiliza la herramienta para comparar planes que te permitirá poner en la
        balanza y escoger el que más te quede!
      </p>

      <button
        pButton
        pRipple
        class="p-button-raised p-button-secondary"
        label="Quiero ver!"
        (click)="gotocompare()"
      ></button>
    </div>
  </div>
</div>
