<div class="grid">
  <div style="background-color: #023e8a" class="background col p-0 m-0">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>Acerca de nosotros</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="Sobre-Nosotros">
    <div class="inner-container">
      <p class="text">
        FitYou es un sistema que podrá presentarle a los usuarios las mejores
        opciones de planes telefónicos, de internet y telecable acorde a las
        necesidades que tengan, de forma que estos puedan seleccionar y ver a
        detalle aquel que más se adapte a lo que buscan, para lo cual podrán
        filtrar por compañias, zona disponible, rango de precio, etc. También
        podrá comparar 2 o más de ellos para ver en una sola pantalla cual le
        brinda mayores ventajas.
      </p>
    </div>
  </div>
</body>

<!-- 
<p-card
  header="Acerca De"
  [style]="{
    width: '100rem',
    'margin-bottom': '2em',
    padding: '2em',
    margin: '2em',
    display: 'justify',
    justify: 'center'
  }"
>
  <div id="footer" class="mt-3 pt-3">
    <p-card
      header="FitYou"
      [style]="{
        width: '90rem',
        'margin-bottom': '2em',
        padding: '2em',
        margin: '2em',
        display: 'justify',
        justify: 'center'
      }"
    >
      FitYou es un sistema que podrá presentarle a los usuarios las mejores
      opciones de planes telefónicos, de internet y telecable acorde a las
      necesidades que tengan,<br />
      de forma que estos puedan seleccionar y ver a detalle aquel que más se
      adapte a lo que buscan, para lo cual podrán filtrar por compañias, zona
      disponible, rango de precio, etc.<br />
      También podrá comparar 2 o más de ellos para ver en una sola pantalla cual
      le brinda mayores ventajas
      <ng-template pTemplate="footer">
        Repositorio:
        <a href="https://github.com/JohnEspinal/FitYou-App" target="_blank"
          >Repo</a
        >
      </ng-template>
    </p-card>
    <p-divider></p-divider>

    <p-card
      header="Nosotros"
      [style]="{
        width: '90rem',
        'margin-bottom': '2em',
        padding: '2em',
        margin: '2em',
        display: 'justify',
        justify: 'center'
      }"
    >
     


    </p-card>
  </div>
  <p-divider></p-divider>
</p-card> -->

<div class="grid">
  <div class="col-3 text-left ml-8">
    <div>
      <img src="assets/photos/john.png" width="100px" class="border-circle" />
      <br />
      <br />
      <span><strong>John Espinal</strong></span>
      <span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum
          dolor, euismod eget dapibus quis.
        </p>
      </span>
    </div>
  </div>

  <div class="col-3 col-offset-1 text-left">
    <div>
      <img
        src="assets/photos/JoseMarte.jpeg"
        width="100px"
        class="border-circle"
      />
      <br />
      <br />
      <span><strong>Jose Marte</strong></span>
      <span>
        <p>
          Soy un ingeniero en sistema que le apasiona la programación y como
          esta puede desempeñar una labor en nuestra vida diaria.
        </p>
      </span>
    </div>
  </div>

  <div class="col-3 col-offset-1 text-left">
    <div>
      <img src="assets/photos/Victor.jpg" width="100px" class="border-circle" />
      <br />
      <br />
      <span><strong>Victor Calderon</strong></span>
      <span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum
          dolor, euismod eget dapibus quis.
        </p>
      </span>
    </div>
  </div>

  <div class="col-3 col-offset-1 text-left ml-8">
    <div>
      <img
        src="assets/icons/programmer.png"
        width="100px"
        class="border-circle"
      />
      <br />
      <br />
      <span><strong>Oscar Veloz</strong></span>
      <span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum
          dolor, euismod eget dapibus quis.
        </p>
      </span>
    </div>
  </div>

  <div class="col-3 col-offset-1 text-left">
    <div>
      <img
        src="assets/icons/programmer.png"
        width="100px"
        class="border-circle"
      />
      <br />
      <br />
      <span><strong>Diego Beras</strong></span>
      <span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum
          dolor, euismod eget dapibus quis.
        </p>
      </span>
    </div>
  </div>

  <div class="col-3 col-offset-1 text-left">
    <div>
      <img
        src="assets/icons/programmer.png"
        width="100px"
        class="border-circle"
      />
      <br />
      <br />
      <span><strong>Jean Mendoza</strong></span>
      <span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum
          dolor, euismod eget dapibus quis.
        </p>
      </span>
    </div>
  </div>
</div>
