/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Baloo Bhaina 2', cursive; 
    font-family: 'Oxygen', sans-serif;
    padding: 0px;
    margin: 0px;
}