<div id="footer" style="background-color: grey" class="surface-100 mt-0 pt-2">
  <div class="grid">
    <div class="col-4 col-offset-1 ml-8">
      <div>
        <span
          ><strong
            >Copyright FitYou 2022. Todos los derechos reservados.</strong
          ></span
        >
      </div>
    </div>

    <div class="col-3 col-offset-1 text-left">
      <div>
        <span><strong></strong></span>
      </div>
    </div>

    <div class="col-3 col-offset-1 text-left"></div>
  </div>
</div>
